<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.BasicDataMapper">

    <resultMap id="basicDataResultMap" type="common.pojo.BasicData">
        <id property="id" column="ID"/>
        <result property="city" column="CITY"/>
        <result property="district" column="DISTRICT"/>
        <result property="region" column="REGION"/>
        <result property="community" column="COMMUNITY"/>
        <result property="flag" column="FLAG"/>
        <result property="basicData" column="BASIC_DATA"/>
        <result property="updateDT" column="UPDATE_DT"/>
        <result property="updateTM" column="UPDATE_TM"/>
        <result property="reserve1" column="RESERVE1"/>
        <result property="reserve2" column="RESERVE2"/>
        <result property="reserve3" column="RESERVE3"/>
    </resultMap>



    <!--    <select id="getInitialUrl" parameterType="long" resultType="InitialUrl">
            select * from t_initial_url where id =#{id}
        <![CDATA[

        ]]>
        </select>-->
    <!--新增基础信息记录-->
    <insert id="insertBasicData" parameterType="BasicData">
        <![CDATA[
        insert into t_basic_data(city,district,community,basicData) values (#{city},#{district},#{community},#{basicData})
        ]]>
    </insert>
    <!--删除基础信息-->
    <delete id="deleteBasicDataById" parameterType="long">
        <![CDATA[
        delete from t_basic_data where id =#{id}
        ]]>
    </delete>
    <!--获取所有基础信息-->
    <select id="getAllBasicData" resultType="BasicData">
        <![CDATA[
        select * from t_basic_data
        ]]>
    </select>
    <!--获取所有未处理过的基础信息-->
    <select id="getBasicData" resultType="BasicData">
        <![CDATA[
        select * from t_basic_data where flag =#{0}
        ]]>
    </select>
    <!--更新已使用过的基础信息-->
    <update id="setBasicDataUnEnable" parameterType="long">
        <![CDATA[
        update t_basic_data set flag = #{1} where id =#{id}
        ]]>
    </update>

</mapper>