<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.CoreDataMapper">

    <resultMap id="coreDataResultMap" type="common.pojo.CoreData">
        <id property="id" column="ID"/>
        <result property="city" column="CITY"/>
        <result property="district" column="DISTRICT"/>
        <result property="region" column="REGION"/>
        <result property="community" column="COMMUNITY"/>
        <result property="area" column="AREA"/>
        <result property="floor" column="FLOOR"/>
        <result property="toward" column="TOWARD"/>
        <result property="houseModel" column="HOUSE_MODEL"/>
        <result property="price" column="PRICE"/>
        <result property="preference" column="PREFERENCE"/>
        <result property="pictureUrl" column="PICTURE_URL"/>
        <result property="otherDetails" column="OTHER_DETAILS"/>
        <result property="updateDT" column="UPDATE_DT"/>
        <result property="updateTM" column="UPDATE_TM"/>
        <result property="reserve1" column="RESERVE1"/>
        <result property="reserve2" column="RESERVE2"/>
        <result property="reserve3" column="RESERVE3"/>
    </resultMap>



    <!--    <select id="getInitialUrl" parameterType="long" resultType="InitialUrl">
            select * from t_initial_url where id =#{id}
        <![CDATA[

        ]]>
        </select>-->
    <insert id="insertCoreData" parameterType="CoreData">
        <![CDATA[
        insert into t_core_data (city,district,region,community,area,floor,toward,house_Model,price,preference,picture_Url,other_Details,reserve1,reserve2,reserve3)
        values (#{city},#{district},#{region},#{community},#{area},#{floor},#{toward},#{houseModel},#{price},#{preference},#{pictureUrl},#{otherDetails},#{reserve1},#{reserve2},#{reserve3})
        ]]>
    </insert>

    <delete id="deleteCoreData" parameterType="long">
        <![CDATA[
        delete from t_core_data where id =#{id}
        ]]>
    </delete>

    <select id="getAllCoreData" resultMap="coreDataResultMap">
        select * from t_core_data
    </select>
</mapper>