<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.HisUrlMapper">

    <resultMap id="hisUrlResultMap" type="common.pojo.HisUrl">
        <id property="id" column="ID"/>
        <result property="url" column="URL"/>
        <result property="city" column="CITY"/>
        <result property="district" column="DISTRICT"/>
        <result property="region" column="REGION"/>
        <result property="community" column="COMMUNITY"/>
        <result property="timeout" column="TIMEOUT"/>
        <result property="lastDT" column="LAST_DT"/>
        <result property="flag" column="FLAG"/>
        <result property="updateDT" column="UPDATE_DT"/>
        <result property="updateTM" column="UPDATE_TM"/>
        <result property="reserve1" column="RESERVE1"/>
        <result property="reserve2" column="RESERVE2"/>
        <result property="reserve3" column="RESERVE3"/>
    </resultMap>



<!--    <select id="getInitialUrl" parameterType="long" resultType="InitialUrl">
        select * from t_initial_url where id =#{id}
        <![CDATA[

        ]]>
    </select>-->

    <!--新增历史url信息-->
    <insert id="insertHisUrl" parameterType="HisUrl">
        <![CDATA[
        insert into t_his_url(url,city,district,community,timeout,LAST_DT) values (#{url},#{city},#{district},#{community},#{timeout},#{lastDT})
        ]]>
    </insert>
    <!--根据id查询指定历史url信息-->
    <delete id="deleteHisUrlById" parameterType="long">
        <![CDATA[
        delete from t_his_url where id =#{id}
        ]]>
    </delete>
    <!--查询所有历史url信息-->
    <select id="getAllHisUrl" resultType="HisUrl">
        <![CDATA[
        select * from  t_his_url
        ]]>
    </select>
    <!--获取指定url的信息-->
    <select id="getHisUrlByName" resultType="HisUrl">
        <![CDATA[
        select * from t_his_url where url =#{url}
        ]]>
    </select>

    <select id="getHisUrlBuId" parameterType="long" resultType="HisUrl">
        <![CDATA[
        select * from t_his_url where id = #{id}
        ]]>
    </select>

</mapper>