<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.InitialUrlMapper">

    <resultMap id="initialUrlResultMap" type="common.pojo.InitialUrl">
        <id property="id" column="ID"/>
        <result property="url" column="URL"/>
        <result property="city" column="CITY"/>
        <result property="district" column="DISTRICT"/>
        <result property="region" column="REGION"/>
        <result property="community" column="COMMUNITY"/>
        <result property="timeout" column="TIMEOUT"/>
        <result property="status" column="STATUS"/>
        <result property="updateDT" column="UPDATE_DT"/>
        <result property="updateTM" column="UPDATE_TM"/>
        <result property="reserve1" column="reserve1"/>
        <result property="reserve2" column="reserve2"/>
        <result property="reserve3" column="reserve3"/>
    </resultMap>


    <!--通过id查询记录-->
    <select id="getInitialUrlById" parameterType="long" resultType="InitialUrl">
        <![CDATA[
            select * from t_initial_url where id =#{id}
         ]]>

    </select>
    <!--查询所有需要爬取的记录-->
    <select id="getAllInitialUrl" parameterType="string" resultType="InitialUrl">
        <![CDATA[
        select * from t_initial_url
        ]]>
    </select>
    <!--查询所有初始url-->
    <select id="getInitialUrl" parameterType="string" resultType="InitialUrl">
        <![CDATA[
        select * from t_initial_url where reserve1 =#{1}
        ]]>
    </select>
    <!--通过url匹配记录-->
    <select id="getInitialUrlByName" parameterType="string" resultType="InitialUrl">
        <![CDATA[
           select * from t_initial_url where url =#{url}
        ]]>
    </select>
    <!--通过id删除记录-->
    <delete id="deleteUrlById" parameterType="long">
        <![CDATA[
           delete from t_initial_url where id =#{id}
        ]]>
    </delete>
    <!--新增url-->
    <insert id="insertUrl" parameterType="InitialUrl">
        <![CDATA[
            insert into t_initial_url(url,city,region,district,community,reserve1,reserve2,reserve3) values (#{url},#{city},#{region},#{district},#{community},#{reserve1},#{reserve2},#{reserve3})
        ]]>
    </insert>
</mapper>