<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.UserInfoMapper">

    <resultMap id="userInfoResultMap" type="common.pojo.UserInfo">
        <id property="id" column="ID"/>
        <result property="userName" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="type" column="TYPE"/>
        <result property="enabled" column="ENABLED"/>
        <result property="updateDT" column="UPDATE_DT"/>
        <result property="updateTM" column="UPDATE_TM"/>
        <result property="reserve1" column="RESERVE1"/>
        <result property="reserve2" column="RESERVE2"/>
        <result property="reserve3" column="RESERVE3"/>
    </resultMap>

    <select id="getUserInfoByUserName" parameterType="String" resultMap="userInfoResultMap">
        <![CDATA[
          select * from t_user where userName =#{username}
        ]]>
    </select>

    <select id="getUserInfoById" parameterType="long" resultMap="userInfoResultMap">
        select * from  t_user where id =#{id}
    </select>

    <insert id="addUser" parameterType="UserInfo">
        <![CDATA[
          insert into t_user(userName,password,reserve1,reserve2,reserve3) values (#{userName},#{password},#{reserve1},#{reserve2},#{reserve3})
        ]]>
    </insert>

    <update id="setUserStatus" parameterType="UserInfo">
        update t_user set enabled =#{enabled} where id =#{id}
    </update>

    <update id="editUserPassword" parameterType="UserInfo">
        update t_user set password =#{password} where id =#{id}
    </update>

    <update id="updateUserSex" parameterType="UserInfo">
        update t_user set reserve1 =#{reserve1} where id =#{id}
    </update>

    <select id="getAllSimpleUser" resultMap="userInfoResultMap">
        select * from t_user where type = #{0}
    </select>

</mapper>